


*{
    font-family: "Segoe UI"
}

body{
    margin:0;
    background-color: #26262c;
}

.container{
    
    margin:0 auto;
    width: 80%;
}

.sidebar{
    background-color: #26262c;
    width:20%;
    height: 100%;
    color:white;
    display: inline-block;
}

.sidebar .user-content{
padding: 3px;
overflow: hidden;    
}

.sidebar .user-content img{
width:55px;
height: 55px;
border-radius: 100%;
float:left;
margin-right: 10px;
}

.sidebar .user-title{
    margin: 7px 0 4px 0 ;
    display: inline-block;
    font-size: 15px;
}
.sidebar .user-email{
    display: inline-block;
    font-weight:100;
    display: block;

    font-size: 14px;
}

.sidebar input{
width: 90%;
display: block;
margin: 10px auto;
background-color: #1c1c21;
border:none;
border-bottom: 1px solid #6495ff;
color:white;
padding: 10px;
border-radius: 5px;
outline: 0.001em solid #39393f;
}

.sidebar input:focus{
    border-bottom: 2px solid #6495ff;
    box-shadow: 0 1px 2px #6495ff;
}

.input-group{
position: relative;

}


.sidebar-link-item{
    box-sizing: border-box;
    padding: 9px;
    font-size: 18px;
    width: 97%;
    border-radius: 5px;
    margin:5px auto;
    position: relative;
}



.sidebar-link-item:hover{
    background-color: #3e3e46;

}

.sidebar-link-item span{
    margin-left:15px;
}

.sidebar-link-item.active{
    background-color: #3e3e46;
}


.sidebar-link-item.active::after{
    position:absolute;
content: "";
 width:3px;
 height:15px;
 background-color: #6495ff;
 top:11px;
 left:0;
 border-radius: 4px;
}


/* tasks */


.tasks{
    background-color: cadetblue;
    display: inline-block;
    width: 60%;
    height: 100%;
    position:absolute;
    border-top-left-radius: 10px;
    background-image: url("./images/wallpaper.png");
    background-size: cover;
}

.task-container{
    width: 75%;
    height: 80%;
    margin:20px auto;
    overflow-y: auto;
    
}

.task-item{
    width:95%;
    height:50px;
    box-sizing: border-box;
    padding: 14px 10px 10px 10px;
    border-radius: 10px;
    margin:5px auto;
    color:white;
    font-size: 20px;

       /* From https://css.glass */
background: rgba(36, 34, 34, 0.9);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
backdrop-filter: blur(10.8px);
-webkit-backdrop-filter: blur(10.8px);
border: 1px solid rgba(255, 255, 255, 0.58);
font-size: 15px;

}

.task-item:hover{
    background-color: #37373d;
}

.tasks input{
    color:white;
    display: block;
    margin:0 auto;
    width:90%;
    padding: 5px;
    padding-left: 56px;
    height: 50px;
   /* From https://css.glass */
background: rgba(36, 34, 34, 0.41);
border-radius: 3px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.8px);
-webkit-backdrop-filter: blur(10.8px);
border: 1px solid rgba(255, 255, 255, 0.58);
font-size: 18px;
}

.tasks input:focus{
outline:none;
}


/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(63, 63, 63);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }